body {
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 100%;
    border: 1px solid #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2vw;
    color: #000;
}
.greet {
    width: 50%;
    margin: 3vw 0% 0vw 25%;
    font-size: 3vw;
    text-align: center;
}
.searchBar {
    width: 50%;
    height: 4vw;
    border: 2px solid #000;
    border-radius: 1vw;
    font-size: 2vw;
    padding-left: 3%;
    margin: 3vw 1% 2vw 25%;
}
.searchBar::placeholder {
    color:#cfcfcf;
}
.result {
    padding: 2vw 25%;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.cityName, .cityPop {
    font-size: 2.75vw;
    color: #000;
    margin-bottom: 0.25vw;
    padding-left: 2%;
}
.cityLandmark {
    font-size: 2.75vw;
    color: #000;
    margin-bottom: 2vw;
    padding-left: 2%;
}